<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>
<table>
    <tr th:each="tweets: ${tweetsList}">
        <!--게시글 id-->
        <td th:text="${tweets.id}"></td>
        <!--작성 날짜-->
        <td th:text="${#temporals.format(tweets.tweetsCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <!--내용-->
        <td th:text="${tweets.Contents}"></td>
        <!--조회수-->
        <td th:text="${tweets.View}"></td>
    </tr>
</table>
</body>
</html>
